<!DOCTYPE html>
<html>
<head>
    <title>PotterChop</title>
    <script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/js/code.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen" />
</head>
<body>
    <h1>Welcome to the AJAX PotterChop</h1>
    <p>Enter a valid order</p>
    <form>
        <p><label>Books:<input type="text" id="books" name="books"/></label></p>
        <p><label>Name:<input type="text" id="name" name="name"/></label></p>
        <p><label>Address:<input type="text" id="address" name="address"/></label></p>
        <p><label>Price:<input type="text" id="price" name="price" readonly="readonly"/></label></p>
        <a id="new_button" href="#" disabled="disabled">Add</a>
    </form>
    <br/>
    
    <p>These are the orders for today</p>
    <div id="orders" name="orders"></div>
</body>
</html>