<!DOCTYPE html>
<html>
<head>
    <title>PotterChop</title>
</head>
<body>
    <h1>Welcome to PotterChop</h1>
    <h2>Learning</h2>
    <ul>
        <li>Ruby languge</li>
        <li>MongoDB</li>
        <li>Sinatra</li>
        <li>Configuring Apache</li>
        <li>JavaScript</li>
        <li>Use library jQuery</li>
    </ul>
    <h2>Options</h2>
    <p><a href="/new_order">Add a new order</a></p>
    <p><a href="/list_orders">List orders</a></p>
</body>
</html>