<!DOCTYPE html>
<html>
<head>
    <title>Orders - PotterChop</title>
</head>
<body>
    <h1>Welcome to PotterChop</h1>
    <h2>These are the orders for today</h2>
    <br/>
    <br/>    
    <p>In construction...</p>
</body>
</html>