<!DOCTYPE html>
<html>
<head>
    <title>Orders - PotterChop</title>
</head>
<body>
    <h1>Welcome to PotterChop</h1>
    <h2>These are the orders for today</h2>
    <br/>
    
    <% for item in @list %>
    <p><b>Order</b></p>
    <ul>
        <li><b>Name:</b> <%= item.name %> <b>Address:</b> <%= item.address %></li>
        <li><b>Books:</b> <%= item.books %></li>
        <li><b>Total price:</b> <%= item.get_price %></li>
    </ul>
    <% end %>
</body>
</html>