<!DOCTYPE html>
<html>
<head>
    <title>New order - PotterChop</title>
</head>
<body>
    <h1>Enter a valid order</h1>
    <form method="post" action="api/order">
        <p><label>Books:<input type="text" name="books"/></label></p>
        <p><label>Name:<input type="text" name="name"/></label></p>
        <p><label>Address:<input type="text" name="address"/></label></p>
        <input type="submit" value="Add"/></p>
    </form>
</body>
</html>